<h1>Trip to <%= @itinerary.destination %></h1>

<p>Holiday Type: <%= @itinerary.holiday_type %></p>
<p>Start Date: <%= @itinerary.start_date %></p>
<p>End Date: <%= @itinerary.end_date %></p>
<p>Budget: €<%= @itinerary.budget %></p>

<hr>

<h2>Your Chats</h2>

<div class="row">
  <div class="col">
    TO ADD YOUR ITINERARY SHOW CONTENT HERE
  </div>
  <div class="col-md-3">
    <h2>Chats</h2>
    <div class="mb-4">
      <% if @chats.any? %>
        <ul>
          <% @chats.each do |chat| %>
            <li><%= link_to chat.title, chat_path(chat) %></li>
          <% end %>
        </ul>
      <% else %>
        There are no chats yet.
      <% end %>
    </div>
  </div>
</div>
